body {
    align-content: space-around;
    text-align: center;
    background-color: #E5DADA;
}


#headerContainer {
    /* border: 2px solid black; */
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    /* background-color: white; */
}

#foodDiv {
    position: relative;
    display: flex;
    width: 100%;
    
}
#mondayImage {
    width: 200px;
    height: 200px;
}

#tuesdayImage {
    width: 200px;
    height: 200px;
}

#wedImage {
    width: 200px;
    height: 200px;
}

#thursImage {
    width: 200px;
    height: 200px;
}

#friImage {
    width: 200px;
    height: 200px;
}

#mondayContainer, #tuesdayContainer, #wedContainer, #thursContainer, #fridayContainer {
    /* border: 2px solid black; */
    margin-left:10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    background-color: white;
}

/* #monday {
    font-size: 2em;
    margin: 0;
} */

#title {
    background-color: white;
    width: 50%;
    margin-left: 25%;
}